<h1> New Animal </h1>
<form action='/animal' method='post'>
  <label for="name">Name: </label>
  <input id="name" name="name" type="text" required>
  <label for="sex">Sex: </label>
  <input id="sex" name="sex" type="text" required>
  <label for="breed">Breed: </label>
  <input id="breed" name="breed" type="text" required>
  <label for="dateOfAdmittance">Date of admittance: </label>
  <input id="dateOfAdmittance" name="dateOfAdmittance" type="datetime" required>
  <button type='submit'>Add Animal</button>
</form>
